.boton{
    width: 35vw;
    height: 8vh;
    margin: auto;
    border: 1px solid #572EE5;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
    color: #572EE5;
    letter-spacing: 0;
    cursor: pointer;
    background-color: white;
    font-size: 0.8rem
    
}
.boton:hover{
    background-color: #572EE5;
    color: white;
    .dark &{
        background-color: white;
        color: #572EE5;
    }
}

