@media screen and (min-width: 767px){
    // NAV !!!!
    nav div:nth-child(1) img{
        width: 14vw;
        height: 10vh;
        padding: 3vh 0 0 3vw;
    }
    nav div:nth-child(2){
        display: none;
    }
    .noListHamb{
        transition: .3s ease all;
        flex: 1 1 50%;
        transform: translateY(0);
        position: relative;
        list-style: none;
        text-align: center;
        margin-top: 0%;
        padding: 2% 5% 0px 0px;
        height: 10vh;
        background-color: white;
        width: 100%;
        opacity: 1;
        margin-left: 0px;
        display: flex;
        justify-content: space-around;
        &.dark{
            background-color: rgba(55,56,60,1);
        }
    
    }
    .noListHamb li{
        display: inline-block;
        width: 11vw;

    }
    .masNav{
        display: block;
        width: 4vw;
    }
    .masNav:hover{
        opacity: 0.5;
        width: 4.1vw;
    }
    .noListHamb li a{
        color: rgba(87,46,229,1);
        &.white{
            color: white;
        }
    }
    .noListHamb li:nth-child(1){
        text-align: left;
    }
    .noListHamb span{
        display: none;
    }
    .noListHamb p{
        color: rgba(87,46,229,1);
        padding-top: 0.5vh;
        cursor: pointer;
    }
    .noListHamb p:hover{
        font-size: 1.1rem;
        opacity: 0.5;
    }
    .noListHamb li a:hover{
        opacity: 0.5;
        font-size: 1.2rem;
    }
    
    
    // MAIN!!
    #cuadrilla{
        padding: 4% 10% 0 10%;
    }
    #cuadrilla div{
        width: calc((100% - 70px) / 4);
    }


    // BOTON!!

    .boton{
        width: 16vw;
    }


    // SLIDER!!!
    .trending {
        margin-top: 25vh;
        padding-top: 3%;
        height: 80vh;
    }
    .trending h3{
        font-size: 1.56rem;
    }
    .trending p{
        font-size: 1.1rem;
        display: contents;
    }
    #carrusel{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-left: 5%;
    padding-top: 5%;
    }
    #carrusel > img{
        display: block;
        height: 8vh;
        margin-top: 12vh;
    }
    #carrusel div{
        width: 20vw;
        height: 35vh;
        flex-basis: 80%;
        display: flex;
        justify-content: space-between;
    }
    #carrusel div img{
        width: 32%;
        height: 100%;
        
    }

    #imagenesSlider img:hover{
        opacity: 0.2;
    }
    #imagenesSlider img:nth-child(2){
        display: block;
    }
    #imagenesSlider img:nth-child(3){
        display: block;
    }

    // FOOTER!!!
    footer {
        display: flex;
        justify-content: space-between;
        padding-top: 2%;
        height: 12vh;
    }
    .compartir{
        width: 50%;
    }
    .compartir h3{
        display: inline-block;
    }
    footer p{
        padding-top: 0;
        width: 50%;
    }
}