.cuadrilla {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
}
.divCuadrilla {
    width: 44%;
    margin-bottom: 3vh;
    height: 25vh;
}
.divCuadrilla img{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.opciones{
    display: none;
}
