footer{
    text-align: center;
    padding-top: 10%;
}
.compartir h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #000000;
    letter-spacing: 0;

}
.compartir div{
    display: inline-block;
    padding: 0 3% 0 3%;
}
footer p{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #000000;
    letter-spacing: 0;
    line-height: 20px;
    padding-top: 15%;

}