main{
    text-align: center;
    padding-top: 10%;
}
main h1{
    font-family: 'Montserrat', sans-serif;
    color: #572EE5;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 30px;

}
#sinContenido{
    text-align: center;
    padding-top: 10%;
}
#sinContenido h3{
    font-family: Montserrat-Bold;
    font-size: 22px;
    color: #50E3C2;
    text-align: center;
    line-height: 33px;
}