.sectionBusqueda{
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    
}
.sectionBusqueda h3{
    font-size: 1.56rem;
    font-family: 'Montserrat', sans-serif;
    color: #572EE5;
    line-height: 30px;
    width: 100%;
    padding-top: 7%;
    .dark &{
        color: white;
    }
}
.sectionBusqueda button{
    width: 30%;
    height: 8vh;
    border: 1px solid #572EE5;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
    font-size: 0.7rem;
    color: #572EE5;
    letter-spacing: 0;
    cursor: pointer;
    background-color: white;
    margin: 10% auto;
    .dark &{
        background-color: rgba(55,56,60,1);
        border-color: white;
        color: white;
    }
}
.sectionBusqueda button:hover{
    background-color: #572EE5;
    color: white;
    .dark &{
        background-color: white;
        color: #572EE5;
    }
}
.divBuscados{
    width: 36.5vw;
    height: 23vh;
    margin-top: 7%;
}
.divBuscados div{
    height: 34.2vh;
}
.imgBuscadas{
    height: 100%;
    width: 100%;
}
.cajaSearch{
    margin: auto;
    border-radius: 27px;
    background: #FFFFFF;
    border: 1px solid #572EE5;
    width: 97%;
    text-align: left;
    padding-inline-start: 3%;
    margin-top: -36px;
    padding: 10% 0 3% 0;
    display: none;
    &.appear{
        display: flex;
        flex-wrap: wrap;
    }
    .dark &{
        background-color:  rgba(55,56,60,1);
        border-color: white;
    }
    
}
.cajaSearch li{
    flex-basis: 91%;
    list-style: none;
    font-size: 0.9rem;
    margin-top: 4%;
    font-family: 'Montserrat', sans-serif;
    color: rgba(55,56,60,1);
    .dark &{
        color: white;
    }
}
.cajaSearch li:hover{
    opacity: 0.6;
    border-radius: 10px;
    cursor: pointer;
}
.lupaExtra{
    flex-basis: 9%;
    margin-top: 4%;
}
.cajaSearch::before{
    content: "";
    left: 7vw;
    display: block;
    width: 97%;
    height: 2px;
    opacity: 0.5;
    background-color: #9CAFC3;
}
.lupa{
    position: absolute;
    margin-left: -37px;
    padding-top: 5.2px;
}
.lupa2{
    position: absolute;
    width: 3%;
    left: 7%;
    margin-top: 2%;
    display: none;
    &.aparece{
        display: block;
    }
}
.opciones{
    display: none;
}