@media screen and (min-width: 767px){
    // NAV !!!!
    nav{
        position: fixed;
        width: 100%;
        border-top: 5px solid #572EE5;
        top: 0;
        transition: .3s ease all;
        background-color: white;
        .dark &{
            border-color: black;
            background-color: #37383c;
            transition: .3s ease all;
        }
    }
    nav div:nth-child(1) img{
        width: 14vw;
        height: 10vh;
        padding: 3vh 0 0 3vw;
    }
    nav div:nth-child(2){
        display: none;
    }
    .noListHamb{
        transition: .3s ease all;
        flex: 1 1 50%;
        transform: translateY(0);
        position: relative;
        list-style: none;
        text-align: center;
        margin-top: 0%;
        padding: 2% 5% 0px 0px;
        height: 10vh;
        background-color: white;
        width: 100%;
        opacity: 1;
        margin-left: 0px;
        display: flex;
        justify-content: space-around;
        .dark &{
            background-color: rgba(55,56,60,1);
        }
    
    }
    .noListHamb li{
        display: inline-block;
        width: 13vw;

    }
    .masNav{
        display: block;
        width: 4vw;
    }
    .masNav:hover{
        opacity: 0.5;
        width: 4.1vw;
    }
    .noListHamb li a{
        color: rgba(87,46,229,1);
        .dark &{
            color: white;
        }
    }
    
    .noListHamb li:nth-child(1){
        text-align: left;
    }
    .noListHamb span{
        display: none;
    }
    .noListHamb p{
        color: rgba(87,46,229,1);
        cursor: pointer;
        padding-top: 3vh;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
    .noListHamb p:hover{
        font-size: 1.1rem;
        opacity: 0.5;
    }
    .noListHamb li a:hover{
        opacity: 0.5;
        font-size: 1.2rem;
    }
    // MAIN!!!
    main h1{
        line-height: 50px;
        font-size: 2.18rem;
        padding: 5% 27% 0 27%;
    }
    main div img{
        width: 38%;
    }
    main input{
        width: 42%;
        height: 6.5vh;
        margin-top: -3.5px;
    }
    input[placeholder]{
        width: 40%;
        padding-left: 4%;
        .appear &{
            width: 39%;
        }
    }
    .cajaSearch{
        width: 43%;
        margin-top: -44px;
        &.appear{
            width: 45%;
            padding: 1% 0;
        }

    }
    .cajaSearch::before{
        margin-left: 6%;
        width: 39vw;
        margin-top: 6%;
    
    }
    .lupa{
        padding-top: 9px;
        cursor: pointer;
        z-index: 0;
    }
    .lupa:hover{
        opacity: 0.6;
    }
    .lupa2{
        left: 29.8%;
        width: 1.3%;
        margin-top: 9px;
    }
    // EXPANSION
    .container-expansion{
        width: 70%;
    }
    .closeImg {
        width: 2%;
    }
    .container1{
        width: 60%;
        padding-top: 2%;
        display: block;
    }
    .container2{
        width: 17%;
    }
    // BUSCADOS
    .divBuscados{
        height: 34vh;
        width: 22.5vw;
    }
    .sectionBusqueda > img{
        height: 34vh;
    }
    .sectionBusqueda button{
        width: 16%;
        height: 7vh;
        font-size: 0.8rem;
    }


    // CENTRO!!!
    .titulo{
        padding-top: 6%;
        font-size: 1.1rem;
    }
    .centro p{
        font-size: 1rem;
    }

    // SIN RESULTADOS

    #noResult img{
        width: 20%;
        height: 25%;
        padding: 8% 0 2% 0;
    }
    #noResult p{
        font-size: 1.5rem;
        line-height: 25px;
        padding-bottom: 10%;
        margin-block-start: 1%;
    }

    // SLIDER!!!

    .trending {
        margin-top: 25vh;
        padding-top: 3%;
        height: 80vh;
    }
    .trending h3{
        font-size: 1.56rem;
    }
    .trending p{
        font-size: 1.1rem;
        display: contents;
    }
    #leftslider{
        display: block;
    }
    #rightslider{
        padding-left: 0px;
    }
    .container-carrusel{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-left: 5%;
    padding-top: 5%;
    overflow: unset;
    }
    .container-carrusel > img{
        display: block;
        height: 8vh;
        margin-top: 12vh;
        cursor: pointer;
    }
    .container-carrusel > div{
        width: 20vw;
        height: 35vh;
        flex-basis: 80%;
        display: flex;
        justify-content: space-between;
    }
    .container-imgSlider > div{
        display: block;
        max-width: 100%;
        width: 32%;
        height: 100%;
    }
    .container-imgSlider img{
        width: 100%;
        display: block;
        height: 100%;
    }

    
    .opciones{
        z-index: 1;
        margin-top: -35vh;
        position: absolute;
        width: 22.5vw;
        height: 35vh;
        opacity: 0;
        display: block;
    }
    .opciones:hover{
        transition: .2s ease all;
        opacity: 0.7;
        background: #572EE5;
        cursor: pointer;
    }

    .opciones > img{
        width: 13%;
        float: right;
        height: 14%;
        padding: 1vh 0 0 0;
        z-index: 2;
    }
    .opciones a{
        width: 13%;
        float: right;
        height: 14%;
        padding: 1vh 0 0 0;
        z-index: 2;
    }
    .descargar{
        width: 100%;
        height: 100%;
        padding-top: 0px;
    }
    .opciones img:hover{
        cursor:pointer
    }
    // FOOTER!!!
    footer {
        display: flex;
        justify-content: space-between;
        padding-top: 2%;
        height: 12vh;
    }
    .compartir{
        width: 50%;
    }
    .compartir h3{
        display: inline-block;

    }
    footer p{
        padding-top: 0;
        width: 50%;
    }
}