:root{
    font-size: 16px;
}
body{
    border-top: 5px solid #572EE5;
    border-bottom: 5px solid #572EE5;
    box-sizing: border-box;
}
.displayblock{
    display: block;
}
.displaynone{
    display: none;
}
