nav{
    display: flex;
    justify-content: space-between;
    z-index: 9;
}
nav div:nth-child(1){
    flex: 1 1 50%;
}
nav div:nth-child(1) img{
    width: 10vw;
    height: 12vh;
    padding-left: 5vw;
}
nav div:nth-child(2){
    flex: 1 1 50%;
}

.hamburguesa{
    transition: 0.9s ease-in-out;
    float: right;
    padding-right: 15%;
    width: 7.5vw;
    height: 12vh;
}
.burgerOn{
    transition: 0.9s ease-in-out;
    float: right;
    padding-right: 5%;
    width: 17vw;
    height: 4vh;
    padding-top: 7vw;

    
}
.noListHamb{
    transform: translateY(-150%);
    transition: transform 0.5s ease;
    position: absolute;
    list-style: none;
    text-align: center;
    margin-top: 20%;
    padding: 2% 0 0px 0%;
    height: 80vh;
    background-color: rgba(87,46,229,0.90);
    width: 100%;
    opacity: 1;
    margin-left: -8px;
    .dark &{
        background-color: rgba(0,0,0,1);
        transition: .3 ease all;
    }
    &.listHamb{
        transform: translateY(0);
        z-index: 1;
    }
    
}
.noListHamb li{
    height: 9vh;
}

.noListHamb li a{
    text-decoration: none;
    color: white;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 60px;
    font-weight: 700;
}

.noListHamb span{
    width: 18vw;
    background-color: white;
    height: 0.1vh;
    display: block;
    margin-left: 41vw;
}
.masNav{
    display: none;
}
.noListHamb p{
    width: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding-top: 3vh;
    font-weight: 700;
}
