
#noResult img{
    width: 50%;
    height: 50%;
    padding-top: 20%;
}
#noResult p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #50E3C2;
    text-align: center;
    line-height: 25px;
    padding-bottom: 10%;
    margin-block-start: 5%;
}