main{
    padding-top: 10%;
    display: flex;
    margin-bottom: 10%;
}
.imgCamara{
    width: 15%;
    padding: 10% 0 0 8%;
}
.imgCamara img {
    width: 85%;
}
.recuadroCamara{
    width: 60%;
    border: 2px solid rgba(87,46,229,0.90);
    height: 75vh;
}